<!DOCTYPE html>
<html>
<head>
  <title>Stack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div>
          <%- if user_signed_in? %>
            <ul>
              <li>
                <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
              </li>
              <li>
                Welcome, <%= current_user.email %>
              </li>
              <span id="user_id" data-user-id="<%= current_user.id %>"></span>
            <% else %>
                <li>
                  <%= link_to('Login', new_user_session_path) %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </header>
  
  <div class="conteiner">
    <div class="row">
      <div class="span9">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div><%= yield %></div>
      </div>
    </div>
  </div>
</body>
</html>
