<!DOCTYPE html>
<html>
<head>
  <title>Stack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="conteiner">
    <header class="navbar">
      <div class="navbar-inner">
        <%- if user_signed_in? %>
          <ul>
            <li>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            </li>
            <li>
              <span>Welcome, <%= current_user.email %></span>
            </li>
            <li>
              <%= link_to 'All questions', questions_path%>
            </li>
            <span id="user_id" data-user-id="<%= current_user.id %>"></span>
          <% else %>
              <li>
                <%= link_to('Login', new_user_session_path) %>
              </li>
              <li>
                <%= link_to 'Sign Up', new_user_registration_path %>
              </li>
              <li>
                <%= link_to 'All questions', questions_path%>
              </li>
          </ul>
        <% end %>
      </div>
    </header>
  
    <div class="row">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
      <div><%= yield %></div>
    </div>
  </div>
</body>
</html>
